<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="galleryWrapper">
	<div id="picture">
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="javascript/gallery.js"></script>
</body>
</html>