<!DOCTYPE html>
<html>
<head>
	<title> Rotten Cucumbers</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="contact">Contact</a></li>
		<li><a href="gallery">Gallery</a></li>
		<li><a href="week">Movies of the Week</a></li>
		<li><a href="todolist">To Do List</a></li>
	</ul>
</nav>

<%= yield %>
</body>
</html>